/* Define all CSS variables globally */
:root {
  --primary-color: hsl(160deg, 100%, 30%);

  --secondary-light-gold: hsl(45deg, 100%, 50%);
  --secondary-dark-gold: hsl(45deg, 100%, 40%);

  --black: hsl(0deg, 0%, 0%);
  --very-dark-grey: hsl(0deg, 0%, 10%);
  --dark-grey: hsl(0deg, 0%, 30%);
  --medium-grey: hsl(0deg, 0%, 40%);
  --light-grey: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);

  --base-grid-unit: 8px;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin-left: auto;
  margin-right: auto;
}

strong {
  color: var(--primary-color);
}

.indented-heading {
  background: var(--secondary-light-gold);
  border-bottom: var(--base-grid-unit) solid var(--secondary-dark-gold);
  width: max-content;
  padding: 16px 32px;
  margin-left: -32px;
}

main {
  background: var(--medium-grey);
  height: 450px;
  border-top: 8px solid var(--light-grey);
  padding: 40px;
}

.card {
  background: white;
  width: fit-content;
  max-width: 800px;
  padding: 8px 24px;
  margin: 0 -24px;
}

p {
  line-height: 1.5;
  font-size: 1.25rem;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 24px;
}

.intro-chunk {
  max-width: 415px;
  margin-bottom: 64px;
}
h1 {
  margin: 48px 0;
}